Missing Values problem

In [2]:
import geopandas as gpd

In [3]:
world=gpd.read_file((gpd.datasets.get_path('naturalearth_lowres')))

C:\Users\Bibek\AppData\Local\Temp\ipykernel_15560\745040763.py:1: FutureWarning: The geopandas.dataset module is deprecated and will be removed in GeoPandas 1.0. You can get the original 'naturalearth_lowres' data from https://www.naturalearthdata.com/downloads/110m-cultural-vectors/.
  world=gpd.read_file((gpd.datasets.get_path('naturalearth_lowres')))

In [9]:
world.tail()

,pop_est,continent,name,iso_a3,gdp_md_est,geometry,centroid_x,centroid_y
172,6944975.0,Europe,Serbia,SRB,51475,"POLYGON ((18.82982 45.90887, 18.82984 45.90888...",20.819652,44.233037
173,622137.0,Europe,Montenegro,MNE,5542,"POLYGON ((20.07070 42.58863, 19.80161 42.50009...",19.286182,42.789040
174,1794248.0,Europe,Kosovo,-99,7926,"POLYGON ((20.59025 41.85541, 20.52295 42.21787...",20.895356,42.579367
175,1394973.0,North America,Trinidad and Tobago,TTO,24269,"POLYGON ((-61.68000 10.76000, -61.10500 10.890...",-61.330367,10.428237
176,11062113.0,Africa,S. Sudan,SSD,11998,"POLYGON ((30.83385 3.50917, 29.95350 4.17370, ...",30.198618,7.292890

In [5]:
world.isnull().sum()

pop_est       0
continent     0
name          0
iso_a3        0
gdp_md_est    0
geometry      0
dtype: int64

no missing value detected

**Feature Engineering**

In [6]:
world['centroid_x']=world.centroid.x
world['centroid_y']=world.centroid.y

C:\Users\Bibek\AppData\Local\Temp\ipykernel_15560\1184392000.py:1: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  world['centroid_x']=world.centroid.x
C:\Users\Bibek\AppData\Local\Temp\ipykernel_15560\1184392000.py:2: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  world['centroid_y']=world.centroid.y

In [7]:
world.tail()

,pop_est,continent,name,iso_a3,gdp_md_est,geometry,centroid_x,centroid_y
172,6944975.0,Europe,Serbia,SRB,51475,"POLYGON ((18.82982 45.90887, 18.82984 45.90888...",20.819652,44.233037
173,622137.0,Europe,Montenegro,MNE,5542,"POLYGON ((20.07070 42.58863, 19.80161 42.50009...",19.286182,42.789040
174,1794248.0,Europe,Kosovo,-99,7926,"POLYGON ((20.59025 41.85541, 20.52295 42.21787...",20.895356,42.579367
175,1394973.0,North America,Trinidad and Tobago,TTO,24269,"POLYGON ((-61.68000 10.76000, -61.10500 10.890...",-61.330367,10.428237
176,11062113.0,Africa,S. Sudan,SSD,11998,"POLYGON ((30.83385 3.50917, 29.95350 4.17370, ...",30.198618,7.292890