Missing Values problem

In [2]:
import geopandas as gpd

In [3]:
world=gpd.read_file((gpd.datasets.get_path('naturalearth_lowres')))

C:\Users\Bibek\AppData\Local\Temp\ipykernel_21068\745040763.py:1: FutureWarning: The geopandas.dataset module is deprecated and will be removed in GeoPandas 1.0. You can get the original 'naturalearth_lowres' data from https://www.naturalearthdata.com/downloads/110m-cultural-vectors/.
  world=gpd.read_file((gpd.datasets.get_path('naturalearth_lowres')))

In [4]:
world.tail()

,pop_est,continent,name,iso_a3,gdp_md_est,geometry
172,6944975.0,Europe,Serbia,SRB,51475,"POLYGON ((18.82982 45.90887, 18.82984 45.90888..."
173,622137.0,Europe,Montenegro,MNE,5542,"POLYGON ((20.07070 42.58863, 19.80161 42.50009..."
174,1794248.0,Europe,Kosovo,-99,7926,"POLYGON ((20.59025 41.85541, 20.52295 42.21787..."
175,1394973.0,North America,Trinidad and Tobago,TTO,24269,"POLYGON ((-61.68000 10.76000, -61.10500 10.890..."
176,11062113.0,Africa,S. Sudan,SSD,11998,"POLYGON ((30.83385 3.50917, 29.95350 4.17370, ..."

In [5]:
world.isnull().sum()

pop_est       0
continent     0
name          0
iso_a3        0
gdp_md_est    0
geometry      0
dtype: int64

no missing value detected

**Feature Engineering**

In [10]:
world['centroid_x']=world.centroid.x
world['centroid_y']=world.centroid.y

C:\Users\Bibek\AppData\Local\Temp\ipykernel_21068\1184392000.py:1: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  world['centroid_x']=world.centroid.x
C:\Users\Bibek\AppData\Local\Temp\ipykernel_21068\1184392000.py:2: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  world['centroid_y']=world.centroid.y

In [11]:
world.tail()

,pop_est,continent,name,iso_a3,gdp_md_est,geometry,centroid_xx,centroid_yy,centroid_x,centroid_y
172,6944975.0,Europe,Serbia,SRB,51475,"POLYGON ((18.82982 45.90887, 18.82984 45.90888...",20.819652,44.233037,20.819652,44.233037
173,622137.0,Europe,Montenegro,MNE,5542,"POLYGON ((20.07070 42.58863, 19.80161 42.50009...",19.286182,42.789040,19.286182,42.789040
174,1794248.0,Europe,Kosovo,-99,7926,"POLYGON ((20.59025 41.85541, 20.52295 42.21787...",20.895356,42.579367,20.895356,42.579367
175,1394973.0,North America,Trinidad and Tobago,TTO,24269,"POLYGON ((-61.68000 10.76000, -61.10500 10.890...",-61.330367,10.428237,-61.330367,10.428237
176,11062113.0,Africa,S. Sudan,SSD,11998,"POLYGON ((30.83385 3.50917, 29.95350 4.17370, ...",30.198618,7.292890,30.198618,7.292890

In [12]:
world["area"]=world.geometry.area

C:\Users\Bibek\AppData\Local\Temp\ipykernel_21068\2227828872.py:1: UserWarning: Geometry is in a geographic CRS. Results from 'area' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  world["area"]=world.geometry.area

In [13]:
world.head()

,pop_est,continent,name,iso_a3,gdp_md_est,geometry,centroid_xx,centroid_yy,centroid_x,centroid_y,area
0,889953.0,Oceania,Fiji,FJI,5496,"MULTIPOLYGON (((180.00000 -16.06713, 180.00000...",163.853165,-17.316309,163.853165,-17.316309,1.639511
1,58005463.0,Africa,Tanzania,TZA,63177,"POLYGON ((33.90371 -0.95000, 34.07262 -1.05982...",34.752990,-6.257732,34.752990,-6.257732,76.301964
2,603253.0,Africa,W. Sahara,ESH,907,"POLYGON ((-8.66559 27.65643, -8.66512 27.58948...",-12.137831,24.291173,-12.137831,24.291173,8.603984
3,37589262.0,North America,Canada,CAN,1736425,"MULTIPOLYGON (((-122.84000 49.00000, -122.9742...",-98.142381,61.469076,-98.142381,61.469076,1712.995228
4,328239523.0,North America,United States of America,USA,21433226,"MULTIPOLYGON (((-122.84000 49.00000, -120.0000...",-112.599436,45.705628,-112.599436,45.705628,1122.281921

In [14]:
world['buffer']=world.geometry.buffer(1.0)

C:\Users\Bibek\AppData\Local\Temp\ipykernel_21068\2230477610.py:1: UserWarning: Geometry is in a geographic CRS. Results from 'buffer' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  world['buffer']=world.geometry.buffer(1.0)

In [15]:
world.head()

,pop_est,continent,name,iso_a3,gdp_md_est,geometry,centroid_xx,centroid_yy,centroid_x,centroid_y,area,buffer
0,889953.0,Oceania,Fiji,FJI,5496,"MULTIPOLYGON (((180.00000 -16.06713, 180.00000...",163.853165,-17.316309,163.853165,-17.316309,1.639511,"MULTIPOLYGON (((179.71195 -17.73864, 179.69644..."
1,58005463.0,Africa,Tanzania,TZA,63177,"POLYGON ((33.90371 -0.95000, 34.07262 -1.05982...",34.752990,-6.257732,34.752990,-6.257732,76.301964,"POLYGON ((29.58289 -3.13292, 29.55837 -3.05354..."
2,603253.0,Africa,W. Sahara,ESH,907,"POLYGON ((-8.66559 27.65643, -8.66512 27.58948...",-12.137831,24.291173,-12.137831,24.291173,8.603984,"POLYGON ((-17.00439 22.42131, -15.41662 22.477..."
3,37589262.0,North America,Canada,CAN,1736425,"MULTIPOLYGON (((-122.84000 49.00000, -122.9742...",-98.142381,61.469076,-98.142381,61.469076,1712.995228,"POLYGON ((-132.61535 55.05136, -131.83303 55.1..."
4,328239523.0,North America,United States of America,USA,21433226,"MULTIPOLYGON (((-122.84000 49.00000, -120.0000...",-112.599436,45.705628,-112.599436,45.705628,1122.281921,"MULTIPOLYGON (((-123.81209 49.22981, -123.7970..."

In [16]:
world["simplyfying_geometry"]=world.geometry.simplify(tolerance=0.01)

In [17]:
world.head()

,pop_est,continent,name,iso_a3,gdp_md_est,geometry,centroid_xx,centroid_yy,centroid_x,centroid_y,area,buffer,simplyfying_geometry
0,889953.0,Oceania,Fiji,FJI,5496,"MULTIPOLYGON (((180.00000 -16.06713, 180.00000...",163.853165,-17.316309,163.853165,-17.316309,1.639511,"MULTIPOLYGON (((179.71195 -17.73864, 179.69644...","MULTIPOLYGON (((180.00000 -16.06713, 180.00000..."
1,58005463.0,Africa,Tanzania,TZA,63177,"POLYGON ((33.90371 -0.95000, 34.07262 -1.05982...",34.752990,-6.257732,34.752990,-6.257732,76.301964,"POLYGON ((29.58289 -3.13292, 29.55837 -3.05354...","POLYGON ((33.90371 -0.95000, 34.07262 -1.05982..."
2,603253.0,Africa,W. Sahara,ESH,907,"POLYGON ((-8.66559 27.65643, -8.66512 27.58948...",-12.137831,24.291173,-12.137831,24.291173,8.603984,"POLYGON ((-17.00439 22.42131, -15.41662 22.477...","POLYGON ((-8.66559 27.65643, -8.68440 27.39574..."
3,37589262.0,North America,Canada,CAN,1736425,"MULTIPOLYGON (((-122.84000 49.00000, -122.9742...",-98.142381,61.469076,-98.142381,61.469076,1712.995228,"POLYGON ((-132.61535 55.05136, -131.83303 55.1...","MULTIPOLYGON (((-122.84000 49.00000, -122.9742..."
4,328239523.0,North America,United States of America,USA,21433226,"MULTIPOLYGON (((-122.84000 49.00000, -120.0000...",-112.599436,45.705628,-112.599436,45.705628,1122.281921,"MULTIPOLYGON (((-123.81209 49.22981, -123.7970...","MULTIPOLYGON (((-122.84000 49.00000, -95.15907..."

In [18]:
world['code of C']=world['continent'].astype('category').cat.codes

In [19]:
world

,pop_est,continent,name,iso_a3,gdp_md_est,geometry,centroid_xx,centroid_yy,centroid_x,centroid_y,area,buffer,simplyfying_geometry,code of C
0,889953.0,Oceania,Fiji,FJI,5496,"MULTIPOLYGON (((180.00000 -16.06713, 180.00000...",163.853165,-17.316309,163.853165,-17.316309,1.639511,"MULTIPOLYGON (((179.71195 -17.73864, 179.69644...","MULTIPOLYGON (((180.00000 -16.06713, 180.00000...",5
1,58005463.0,Africa,Tanzania,TZA,63177,"POLYGON ((33.90371 -0.95000, 34.07262 -1.05982...",34.752990,-6.257732,34.752990,-6.257732,76.301964,"POLYGON ((29.58289 -3.13292, 29.55837 -3.05354...","POLYGON ((33.90371 -0.95000, 34.07262 -1.05982...",0
2,603253.0,Africa,W. Sahara,ESH,907,"POLYGON ((-8.66559 27.65643, -8.66512 27.58948...",-12.137831,24.291173,-12.137831,24.291173,8.603984,"POLYGON ((-17.00439 22.42131, -15.41662 22.477...","POLYGON ((-8.66559 27.65643, -8.68440 27.39574...",0
3,37589262.0,North America,Canada,CAN,1736425,"MULTIPOLYGON (((-122.84000 49.00000, -122.9742...",-98.142381,61.469076,-98.142381,61.469076,1712.995228,"POLYGON ((-132.61535 55.05136, -131.83303 55.1...","MULTIPOLYGON (((-122.84000 49.00000, -122.9742...",4
4,328239523.0,North America,United States of America,USA,21433226,"MULTIPOLYGON (((-122.84000 49.00000, -120.0000...",-112.599436,45.705628,-112.599436,45.705628,1122.281921,"MULTIPOLYGON (((-123.81209 49.22981, -123.7970...","MULTIPOLYGON (((-122.84000 49.00000, -95.15907...",4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,6944975.0,Europe,Serbia,SRB,51475,"POLYGON ((18.82982 45.90887, 18.82984 45.90888...",20.819652,44.233037,20.819652,44.233037,8.604719,"POLYGON ((17.98266 45.37755, 17.93506 45.46233...","POLYGON ((18.82982 45.90887, 19.59604 46.17173...",3
173,622137.0,Europe,Montenegro,MNE,5542,"POLYGON ((20.07070 42.58863, 19.80161 42.50009...",19.286182,42.789040,19.286182,42.789040,1.479321,"POLYGON ((20.15234 44.09489, 20.27015 44.05626...","POLYGON ((20.07070 42.58863, 19.80161 42.50009...",3
174,1794248.0,Europe,Kosovo,-99,7926,"POLYGON ((20.59025 41.85541, 20.52295 42.21787...",20.895356,42.579367,20.895356,42.579367,1.231641,"POLYGON ((19.63605 41.55855, 19.56589 41.62408...","POLYGON ((20.59025 41.85541, 20.52295 42.21787...",3
175,1394973.0,North America,Trinidad and Tobago,TTO,24269,"POLYGON ((-61.68000 10.76000, -61.10500 10.890...",-61.330367,10.428237,-61.330367,10.428237,0.639000,"POLYGON ((-62.67876 10.77317, -62.67878 10.809...","POLYGON ((-61.68000 10.76000, -61.10500 10.890...",4
176,11062113.0,Africa,S. Sudan,SSD,11998,"POLYGON ((30.83385 3.50917, 29.95350 4.17370, ...",30.198618,7.292890,30.198618,7.292890,51.196106,"POLYGON ((23.69742 9.61355, 23.83410 10.08740,...","POLYGON ((30.83385 3.50917, 29.95350 4.17370, ...",0